{% extends 'base.html' %}
{% block content %}
<style>
    h3{
     color:skyblue;
    }
    .white-text u{
  color:white;
  }
  .card-panel{
  padding:10px;
  border-radius:10px;
  }
  h4{
  color:white;
  Padding-left:80px;
  }
  h2{
    color:pink;
  }
  .collection{
  width:50%;
  }
    </style>
<div class="col s12 ">
        <div class="card-panel teal">
          <span class="white-text">
            <h3><u><i>About Acharya Tech:</i></u></h3>
          </span>
            <h4>Training is useless without a purpose.</h4>
        </div>
</div>
  <p>Created and designed by Acharya Tech Interns, Our main moto is to provide training for upcoming Interns
      so that they are capable
      of doing successful design along with innovation and technology. Our goal is to develop
      a platform where Interns can learn and get task in practical manner.</p>
<h2>Meet the Team</h2>
<p>We are a team of collegues from Acharya Tech.</p>
  <ul class="collection">
    <li class="collection-item avatar">
        <i class="material-icons circle red">person_outline</i>
      <!--img src="images/yuna.jpg" alt="" class="circle"-->
      <span class="title">Pawan Acharya</span>
      <p>Lead
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">person_outline</i>
      <span class="title">Priyanka Gokavarapu</span>
      <p>Intern
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">person_outline</i>
      <span class="title">Vasavi Ediga</span>
      <p>Software Engineer
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">person_outline</i>
      <span class="title">Gowthami Akula</span>
      <p>Intern
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
      <li class="collection-item avatar">
      <i class="material-icons circle red">person_outline</i>
      <span class="title">Manisha</span>
      <p>Intern
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
     <li class="collection-item avatar">
      <i class="material-icons circle red">person_outline</i>
      <span class="title">Kishan Burri</span>
      <p>Intern
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
     <li class="collection-item avatar">
      <i class="material-icons circle red">person_outline</i>
      <span class="title">Mahati</span>
      <p>Intern
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
{% endblock %}