{% extends 'base.html' %}
{% block content %}
<div>
<h2><b><center><font color ='red'>CONTACT US</font></center></b></h2>
<p><center><marquee><font color = "green">Email us with any questions or inquiries or call 9949215264. We would be happy to answer your questions and setup a meeting with you.</font></marquee></center></p>
    <form method="post" action ="">
          {% csrf_token %}
        <table>
          {{ form.as_p }}
            </table>
          <button type="submit">Submit</button>


    </form>
</div>
{% endblock %}