{% extends 'base.html' %}
{% block content %}
<style>
    .contact{
    width:50%;
    }

</style>
<div>
<h3><i><center><font color ='red'>CONTACT US</font></center></i></h3>
<p><marquee><font color = "green">Email us with any questions or inquiries or call 9949215264. We would be happy to answer your questions and setup a meeting with you.</font></marquee></p>
   <div class="contact">
    <form method="post" action ="">
          {% csrf_token %}
        <table>
          {{ form.as_p }}
            </table>
          <button type="submit">Submit</button>


    </form>
   </div>
</div>
{% endblock %}