{% extends 'base.html' %}
{% block content %}
    <style>
    input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>

<h1><center>CONTACT US</center></h1>

<p><center>Email us with any questions or inquiries or call 9949215264. We would be happy to answer your questions and setup a meeting with you.</center></p>
 <div class="container">
  <form action="POST">

    <label for="name">Name</label>
    <input type="text" id="name" name="Full Name" placeholder="Your name..">

    <label for="email">Email</label>
    <input type="email" id="email" name="Email" placeholder="Your Email ID..">

    <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose Your Business Unit</option>
      <option value="EAS">EAS</option>
      <option value="Analytics">Analytics</option>
      <option value="Sunera Lab">Sunera Lab</option>
    </select>
</div>



    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>

{% endblock %}