{% extends 'base.html' %}
{% block content %}
   <h1><u><center>courses:</center></u></h1>
   <p>We are offering below courses for the freshers to make them trained for upcoming projects.</p>

<ul>
    <li><a href ='https://www.geeksforgeeks.org/python-programming-language/'><u>Python Programming</u></a></li>
    <li><a href = 'https://www.tutorialspoint.com/plsql/'><u>PlSql</u></a></li>
    <li><a href = 'https://www.tutorialspoint.com/plsql/'><u>Django(Web Development)</u></a></li>

</ul>
{% endblock %}