
{% extends 'base.html' %}
{% block content %}
<style>
    .form{
    width:50%;
    }

</style>
{% if messages %}
<ul>
	{% for message in messages %}
	   <li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
    <h2>Login</h2>
<div class ="form">
    <form method="post">
        {% csrf_token %}
        <input type='hidden', name="next",value=" {{ next }}"/>
        {{ form.as_p }}
        <button type="submit">Submit</button>
        <a href="{% url 'password_reset' %}"  style="font-style:italic; font-size:0.8em; padding:10px; "><font color="red"><u>Forget Password?</u></font></a>
    </form>
</div>
{% endblock %}
