{% extends 'base.html' %}
{% block content %}
<style>
.card-panel{
  padding:10px;
  border-radius:10px;
  }
  .mapDiv{
		  display:flex;
       flex-flow: row;
        padding:50px 45px 0 50px;
		 }
</style>
<div class="col s12 ">
        <div class="card-panel teal">
          <span class="white-text">
                <h4><u><i>Would you like to Contact Us! Please fill up the form</i></u></h4>
          </span>
        </div>
</div>
<p><marquee><font color = "green">Email us with any questions or inquiries or call 9949215264. We would be happy to answer your questions and setup a meeting with you.</font></marquee></p>
   <div class="contact">
       <div class = "row">
       <div class="side col s6">
       {% if messages %}
<ul>
	{% for message in messages %}
	   <li>{{ message }}</li>
	{% endfor %}
</ul>
	{% endif %}
        <h5 class="indigo-text"><i>Contact Form</i></h5>
        <div class="z-depth-1 grey lighten-4 row" style="display: block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
    <form method="post">
          {% csrf_token %}
        <table>
          {{ form.as_p }}
            </table>
          <button type="submit">Submit</button>

    </form>
        </div></div>

 <div class="mapDiv">
		   <!--  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1206.4757963005231!2d-0.154311!3d52.787181!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe767bf79d377b61f!2sGurkha+Oven!5e0!3m2!1sen!2sin!4v1530010963618" width="900" height="570" frameborder="0" style="border:0" allowfullscreen></iframe>-->
 <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15228.793452979293!2d78.548992!3d17.4022656!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1551365983318" width="900" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
 </div></div></div>
{% endblock %}