{% extends 'base.html' %}
{% block content %}
<style>
    h3{
    color:skyblue;
    }
    .card-panel{
  padding:10px;
  border-radius:10px;
  }
  .bg p{
  color:purple;

  }

    </style>

<!--{% load static %}
<img src="{% static "images/baby.jpg" %}" alt="My image" width=100%/>-->
<div class="col s12 ">
        <div class="card-panel teal">
          <span class="white-text">
			  <h4><u><i>Welcome to Acharya Tech! </i></u></h4>
          </span>
        </div>
</div>
<p style="padding-left:10px;">Below listed tasks are related to Python, PlSql, Node JS and Django Framework that intern has to complete daily basis.
It is mandatory for interns as they are judged on the basis of task they have completed. Admin will provide a list
of tasks what they have been trained.</p>
<h3><u><i>Tasks:</i></u></h3>
<div class="task">

    <ul class="collapsible" data-collapsible="accordion">
	<li>
		<div class="collapsible-header">
			<i class="material-icons">chevron_right</i>Python</div>
		<div class="collapsible-body">
			<div class="row">
				<div class="col s12 m12">
					<ul class="collapsible" data-collapsible="accordion">
						<li>
							<div class="collapsible-header">
								<i class="material-icons">expand_more</i>First Week Task</div>
							<div class="collapsible-body">
								<p>Lorem ipsum dolor sit amet.</p>
							</div>
						</li>
						<li>
							<div class="collapsible-header">
								<i class="material-icons">expand_more</i>Second Week Task</div>
							<div class="collapsible-body">
								<p>Lorem ipsum dolor sit amet.</p>
							</div>
						</li>
						<li>
							<div class="collapsible-header">
								<i class="material-icons">expand_more</i>Third Week Task</div>
							<div class="collapsible-body">
								<p>Lorem ipsum dolor sit amet.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</li>


	<li>
		<div class="collapsible-header">
			<i class="material-icons">chevron_right</i>PLSQL</div>
		<div class="collapsible-body">
			<div style="padding:25px">
				<ul class="collapsible" data-collapsible="accordion">
					<li>
						<div class="collapsible-header">
							<i class="material-icons">expand_more</i>First Week Task</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<i class="material-icons">expand_more</i>Second Week Task</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<i class="material-icons">expand_more</i>Third Week Task</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</li>
        <li>
		<div class="collapsible-header">
			<i class="material-icons">chevron_right</i>Django</div>
		<div class="collapsible-body">
			<div style="padding:25px">
				<ul class="collapsible" data-collapsible="accordion">
					<li>
						<div class="collapsible-header">
							<i class="material-icons">expand_more</i>First Week Task</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<i class="material-icons">expand_more</i>Second Week Task</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<i class="material-icons">expand_more</i>Third Week Task</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</li>
		 <li>
		<div class="collapsible-header">
			<i class="material-icons">chevron_right</i>Node JS</div>
		<div class="collapsible-body">
			<div style="padding:25px">
				<ul class="collapsible" data-collapsible="accordion">
					<li>
						<div class="collapsible-header">
							<i class="material-icons">expand_more</i>First Week Task</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<i class="material-icons">expand_more</i>Second Week Task</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<i class="material-icons">expand_more</i>Third Week Task</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</li>
</ul>
   <!-- <br>
    <p>Interns are requested to attached their daily task.This attachment will be re-viewed by admin.</p>
   <form method="POST" enctype="multipart/form-data">
   {% csrf_token %}
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" multiple name="myfile">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more files">
      </div>
    </div>
         <button type="submit">Upload</button>
  </form>
	{% if messages %}
<ul>
	{% for message in messages %}
	   <li>{{ message }}</li>
	{% endfor %}
</ul>
	{% endif %}-->

</div>
<p>After completion of the tasks, please navigate to assignment page and upload your task.</p>

<!--{% load static %}
<img src="{% static "images/image.png" %}" width=100%/> --->
<div class="bg">
<p><i>Acharya tech provides a good environment for learning and experimenting with the products.
We focused on end to end training that includes practical learning and design.
	Our Value-Based Design process ensures rapid initial
	implementation and continuous, recurring value from your intelligence platform and implementation.</i></p></div>
{% endblock %}